/* Style Variables */
:root {
    /* theme from https://www.color-hex.com/color-palette/98179 dark theme */
    --white: #fff;
    --blue: #007acc;
    --gray-1: #c0c0c0;
    --gray-2: #3e3e42;
    --gray-3: #2d2d30;
    --black-1: #252526;
    --black-2: #1e1e1e;
    --box-shadow: 0 1px 4px 0px rgb(0 0 0 / 20%);
}

html {
    font-size: 16px;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--gray-2);
    font-family: sans-serif, monospace;
    font-weight: 300;
    color: var(--white);
    line-height: 1.6;
}

header {
    display: flex;
    /* Assures spacing*/
   justify-content: space-between;
   align-items: center;
   background-color: var(--black-1);
   box-shadow: 0 1px 8px var(--black-2);
   width: auto;
   height: fit-content;
   padding: 0 3% 0 3%;
}

#title {
    font-family: sans-serif,'Courier New', Courier, monospace;
    color: var(--white);
    font-weight: 300;
    font-size: 1.3rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 20% 2% 20%;
    padding: 2%;
    box-shadow: 0 1px 8px var(--black-2);
    background: var(--black-1);
    font-family: tangerine, sans-serif, monospace;
}

h2,
h3,
h4,
h5,
h6 {
    color: var(--blue);
    font-weight: 600;
    font-size: 2.5rem;
    font-family: tangerine, sans-serif, monospace;
    margin: 0;
}

.container p {
    color: var(--gray-1);
    font-size: 2rem;
    margin-top: 0;
}

.container button {
    background: var(--black-2);
    color: var(--gray-1);
    font-size: 1.2rem;
    padding: 10px;
    border: none;
    box-shadow: 0 1px 8px black;
    border-radius: 5%;
}

.box-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2% 20% 2% 20%;
    padding: 2%;
    box-shadow: 0 1px 8px var(--black-2);
    background: var(--black-1);
}

.box-card p {
    font-size: 1.5rem;
    font-family: sans-serif,'Courier New', Courier, monospace;
}

.box-card ul {
    display: flex;
    flex-direction: row;
}

.box-card li {
    list-style: none;
}

.box-card button {
    margin: 0 10px 0 10px;
    background: var(--black-2);
    color: var(--gray-1);
    font-size: 1rem;
    padding: 10px;
    border: none;
    box-shadow: 0 1px 8px black;
    border-radius: 5%;
}

.score-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--black-1);
    margin: 2% 20% 2% 20%;
    padding: 1%;
    box-shadow: 0 1px 8px var(--black-2);
}

.score-card h2 {
    font-size: 4rem;
}

.score-card label {
    font-size: 1.5rem;
    font-family: sans-serif,'Courier New', Courier, monospace;
}

.score-card input {
    font-size: 1.3rem;
    border: solid 2px var(--blue);
    border-radius: 2%;
}

.score-card ul {
    display: flex;
    flex-direction: column;
}

.score-card li {
    list-style: none;
    font-size: 1.25rem;
    font-family: sans-serif,'Courier New', Courier, monospace;
}